{% extends 'base.html' %}
{% block content %}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
      This is the homepage of Joshua Pizza.
    </h1>
    <p class="col-md-8 fs-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu dolor ac mi tristique 
      cursus mollis ut risus. Phasellus rutrum elit at felis gravida, et tincidunt sem facilisis. 
      Pellentesque habitant morbi tristique senectus et netus 
      et malesuada fames ac turpis egestas. Sed non facilisis quam. Ut rhoncus vitae ligula et.
    </p>
    <br>
    <a href="{% url 'pizza.menu' %}" class="btn btn-outline-warning btn-lg" type="button" style="padding: 10; margin: 10;">Joshua Pizza Menu</a>
    <a href="{% url 'daily.menu' %}" class="btn btn-outline-danger btn-lg" type="button" style="padding: 10; margin: 10;">Joshua Daily Menu</a>
  </div>
</div>

{% endblock %}