
{% extends 'base.html' %}
{% block content %}

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group list-group-radio d-grid gap-2 border-0">
        <h2 style="padding: 10; margin: 10;">Day of the week this menu is served: {{dailyMenu.day}}</h2>
        <h4>First course:</h4><p>{{dailyMenu.first_course}}</p>
        <h4>Second course:</h4><p>{{dailyMenu.second_course}}</p>
        <h4>Drinks:</h4><p>{{dailyMenu.drink}}</p>
        <h4>Price:</h4><p>{{dailyMenu.price}}</p>
    </div>
</div>

{% endblock %}