{% extends 'base.html' %}
{% block content %}

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group list-group-radio d-grid gap-2 border-0">
        <h2 class="text-center mb-4">Joshua Daily Menu</h2>
        <div class="list-group">
            {% for daily_recipe in menu %}
            <div class="position-relative">
                <a href="{% url 'daily.menu.detail' pk=daily_recipe.id %}" class="text-decoration-none">
                    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong class="fw-semibold">{{daily_recipe.day}}</strong>
                                <span class="d-block small opacity-75">{{daily_recipe.first_course}}</span>
                                <span class="d-block small opacity-75">{{daily_recipe.second_course}}</span>
                            </div>
                            <div class="text-end">
                                <span class="fw-bold">$ {{daily_recipe.price}}</span>
                            </div>
                        </div>
                    </label>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}