{% extends 'base.html' %}
{% block content %}

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group list-group-radio d-grid gap-2 border-0">
        <div class="list-group list-group-radio d-grid gap-2 border-0">
            <div class="pizza-details-container">
                <h2 class="pizza-details-title">{{ pizza.name }}</h2>
                <div class="pizza-details-info">
                    <p>{{ pizza.description }}</p>
                    <h4>Price:</h4>
                    <p class="price">{{ pizza.price }}</p>
                    {% if pizza.bonus %}
                    <h4>Bonus:</h4>
                    <p class="bonus">{{ pizza.bonus }}</p>
                    {% endif %}
                </div>
                <button class="btn btn-order" onclick="orderPizza()">Order Now</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}